body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #ECF0F1;
    color: #2C3E50;
}

div {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

a {
    color: #3498DB;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

h1 {
    color: #E74C3C; 
}

h3 {
    margin: 0px;
    padding: 0px;
}

#header {
    background-color: #ECF0F1;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;

    text-align: center;
}

.paper{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

#topicsList {
    text-align: left;
    width: 970px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5em;
}

.evenPaper {
    background-color: #CCCCCC;
}

#info {
    margin-left: auto;
    margin-right: auto;;
    padding: 15px;
    text-align: center;
}

a.navigationTipsLink {
    font-size: 2em;
}

.navigationTips {
    font-size: 1.5em;
}

.topicSelector {
    margin: 2px;
    padding: 4px;
    cursor: pointer;
    color: #3498DB;
}

.topicTip {
    font-size: 1.5em;
}

.wordSelector {
    cursor: pointer;
    color: #333333;
}

.wordSelector:hover {
    color: #3498DB;
}

.authorSelector {
    cursor: pointer;
}

.authorSelector:hover {
    color: #3498DB;
}

.authorSelected {
    padding: 4px;
    color: #E74C3C;
    border: 2px solid #2C3E50;
    background-color: #eeeeaa;
}

.wordSelected {
    padding: 4px;
    color: #E74C3C;
    border: 2px solid #2C3E50;
    background-color: #eeeeaa;
}

.topicSelected {
    color: #E74C3C;
    border: 2px solid #2C3E50;
    background-color: #eeeeaa;
}

table {
    margin: 5px;
}

td.topicLabel {
    width: 8%;
    vertical-align: center;
}

td.topicWords {
    width: 92%;
    vertical-align: center;
}
