body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    abackground-color: #F6F3E5;
}

div {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

a {
    color: #20beff;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

h1 {
    color: #e65a30; 
}

h3 {
    margin: 0px;
    padding: 0px;
}

#header {
    background-color: #808080;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    awidth: 1000px;
}

#wrapper {
    width: 970px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;

    aborder-left: solid 1px #D6D3C5;
    aborder-right: solid 1px #D6D3C5;

    background-color: white;

    text-align: center;
}

#topicsList {
    text-align: left;
}

.topicSelector {
    padding: 4px;
    cursor: pointer;
    color: #20beff;
    text-decoration: underline;
}

.wordSelector {
    cursor: pointer;
    color: #333333;
}

.wordSelector:hover {
    color: #C0E3F5;
}

.wordSelected {
    padding: 4px;
    color: #e65a30;
    border: 2px solid black;
    background-color: #ffffaa;
}

.selected {
    border: 2px solid black;
    background-color: #ffffaa;
}

table {
    margin: 5px;
}

td.topicLabel {
    width: 8%;
    vertical-align: center;
}

td.topicWords {
    width: 92%;
    vertical-align: center;
}
