<div id="header">
  <h1>ICML 2013 Papers Preview</h1>
  created by <a href="https://twitter.com/benhamner">@benhamner</a><br />
  inspired by <a href="https://twitter.com/karpathy">@karpathy</a> (with his <a href="">NIPS 2012 Preview</a>)
</div>
<div id="wrapper">
  <div id="info">
    <em>Click a topic to toggle whether it's used to sort the papers. Click a word to order the papers by the frequency they contain the word.</em>
  </div>
  <div id="topicsList">
    <table>
        <tr ng-repeat="topic in topics">
            <td class="topicLabel"><span ng-click="switch_topic($index)" class="topicSelector" ng-class="{'selected':topicSelection[$index]}">Topic {{$index+1}}</span></td>
            <td class="topicWords">
              <span ng-repeat="word in topic">
                <span class="wordSelector" ng-click="sortByWord(word)" ng-class="{'wordSelected':sortedWord==word}">{{word}}</span>
              </span>
            </td>
        </tr>
    </table>
  </div>
  <div id="paperList">
    <div ng-repeat="paper in papers">
      <h3>{{paper.title}}</h3>
      {{paper.authors}}<br />
      <a href="{{paper.pdf_url}}"><img src="{{paper.thumbnail_path}}" width="100%"></img></a>
      <p>
        <span ng-repeat="word in paper.most_common">
          <span class="wordSelector" ng-click="sortByWord(word)" ng-class="{'wordSelected':sortedWord==word}">{{word}}</span>
        </span>
      </p>
    </div>
  </div>
</div>